<div class="products-div">

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Brand</th>
      <th scope="col">Barcode</th>
      <th scope="col">Unit of Measure</th>
      <th scope="col">Units Left</th>
      <th scope="col">Re-order Level</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">Sugar</th>
      <td>Hullets</td>
      <td>856546546464</td>
      <td>KG</td>
      <td>108</td>
      <td>100</td>
    </tr>
    <tr>
      <th scope="row">Salt</th>
      <td>Red Seal</td>
      <td>545446664664</td>
      <td>KG</td>
      <td>588</td>
      <td>90</td>
    </tr>
    <tr>
      <th scope="row">Eggs</th>
      <td>Irvines</td>
      <td>136553568888</td>
      <td>Crates</td>
      <td>48</td>
      <td>20</td>
    </tr>
    </tbody>
  </table>

</div>



