<div class="products-div">

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Brand</th>
      <th scope="col">Barcode</th>
      <th scope="col">Unit of Measure</th>
      <th scope="col">Units Left</th>
      <th scope="col">Re-order Level</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">Sugar</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">Salt</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">Eggs</th>
      <td>Larry the Bird</td>
      <td>Larry the Bird</td>
      <td>Larry the Bird</td>
      <td>@twitter</td>
      <td>@twitter</td>
    </tr>
    </tbody>
  </table>

</div>



