
<div class="container">
  <div class="row dashboard-row">
    <div class="col-md-3 mb-3 mb-sm-0">
      <div class="card dashboard-card-blue">
        <div class="card-body">
          <h3 class="card-title">All Product Lines</h3>
          <p class="card-text">Active / In red </p>
          <p class="card-text">279 </p>
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-3 mb-sm-0">
      <div class="card dashboard-card-green">
        <div class="card-body">
          <h3 class="card-title">Active Product Lines</h3>
          <p class="card-text">Active product lines </p>
          <p class="card-text">245</p>
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-3 mb-sm-0">
      <div class="card dashboard-card-red">
        <div class="card-body">
          <h3 class="card-title">Product Lines in Red</h3>
          <p class="card-text">Requiring attention</p>
          <p class="card-text">34</p>
        </div>
      </div>
    </div>
  </div>
</div>
