
.dashboard-row{
  margin-top: 2rem;
}

.card{
  color: white;
  padding: 2rem;
  border-radius: 5px;
}

.dashboard-card-red{
  background-color: darkred;
}

.dashboard-card-green{
  background-color: seagreen;
}

.dashboard-card-blue{
  background-color: royalblue;
}
