/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  margin: 0;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.full-height-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mat-sidenav-container {
  flex: 1 1 auto;
  background: red;
}

.mat-sidenav-content {
  flex: 1 1 auto;
  overflow: auto;
}

.mat-sidenav {
  /* Styles for your sidenav */
}
